<%- include('../partials/header') %>

    <h3><%= skill.name %></h3>
    <h3>Description: <%= skill.description %></h3>
    <a href="/skills/<%= skill.id %>/edit">Edit Skill</a>


<%- include('../partials/footer') %>